# IDE configuration
.clwb/
.idea/
.vscode/
compile_commands.json

# Bazel Build Artifacts
/bazel-*

# Code tags
GPATH
GRTAGS
GTAGS

# Backup Files
*.cpp~
*.hpp~
*.h~
*.md~
*.py~
*.yaml~

# Other files
*.swp
*.pyc

# node
node_modules
