# Bazel Configuration
.bazelrc

# IDE configuration
.clwb/
.idea/
.vscode/
compile_commands.json

# Bazel Build Artifacts
bazel-rpicar/
bazel-out/
bazel-bin/
bazel-testlogs/

# Code tags
GPATH
GRTAGS
GTAGS

# Backup Files
*.cpp~
*.hpp~
*.h~
*.md~
*.py~
*.yaml~

# Other files
*.swp
*.pyc
